$icon-font-path: '../fonts/';
$grid: 20px;
$node: 3;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.node {
  height: $node * $grid + 1;
  position: absolute;
  width: $node * $grid + 1;
  z-index: 1;
}

#board circle:hover {
  stroke: white;
  stroke-width: 5px;
}

.palette {
  width: 100%;
}

.palette col {
  width: 25%;
}

.palette td {
  height: $node * $grid;
  vertical-align: top;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}
